<!DOCTYPE html> 

<html>
    <head>
        <title>
            404
        </title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        {{>header}}
        <p style="text-align: center; margin: 3% auto; margin-bottom: 0; color: rgb(75, 72, 72); font-size:64px; font-family: 'Roboto Mono';">
            404
        </div>
        <p style="text-align: center; margin: 1% auto;">
            The page you are looking for might have been removed, or is temporarily unavailable.
        </p>
        {{>footer}}
    </body>
</html>