<!DOCTYPE html> 

<html>
    <head>
        <title>
            {{title}}
        </title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>
            This app uses the Mapbox API along with the WeatherStack API to generate the weather data of a specific location.
        </p>
        {{>footer}}
    </body>
</html>