<!DOCTYPE html> 

<html>
    <head>
        <title>
            {{title}}
        </title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ab placeat voluptatum totam maiores quisquam, vero cumque, et sed explicabo error. Ullam, aliquam a. Corporis rerum numquam corrupti quaerat eaque.
        </p>
        {{>footer}}
    </body>
</html>